:root {
    --header--bg: #009688;
    --body--bg: #d9dbd3;
    --header-message-contacts: #eaeaea;
    --notifications--bg: #8edafc;
    --ico--bg:#a0a0a0;
    --chat-green:#d5f9ba;
}

img {
    max-width: 100%;
}

#app_header {
    height: 100px;
    background-color: var(--header--bg);
    z-index: 1;
}

.my_body {
    background-color: var(--body--bg);
}

h6,
p {
    line-height: 0.1;
}

.my_app {
    width: 100%;
    height: 670px;
    background-color: white;
    margin-top: -80px;

}

/* da cancellare */

/* da cancellare */
.message {
    width: 60%;
    background-image: url(../img/mine.jpg);
    background-size: auto;
    border-left: solid 0.01px rgb(165, 163, 163);
}

.contacts {
    width: 40%;
}

.message_top {
    background-color: var(--header-message-contacts);
    height: 50px;
    width: 100%;
}

.message_bottom {
    background-color: var(--header-message-contacts);
    height: 50px;
    width: 100%;
}

.contacts_top {
    background-color: var(--header-message-contacts);
    height: 50px;
}

.notifications {
    width: 100%;
    height: auto;
    line-height: 0.5;
    background-color:var(--notifications--bg) ;
}
.contacts .fa-solid{
    color:var(--ico--bg);
}
.message .fa-solid,.fa-regular{
    color:var(--ico--bg);
}
.contacts nav {
position: relative;    
}
.contacts nav i{
    position: absolute;
    left: 20px;
    margin-left: 5px;
}
.received{
background-color: var(--chat-green);
width: 200px;
align-items: end;
align-self:flex-end;
padding: 0.5rem;
cursor: pointer;
}
.sent{
    display: flex;
    background-color: white;
    width: 200px;
    padding: 0.5rem;
    cursor: pointer;
    align-self: start;
}
.image_contacts{
cursor: pointer;
}
.contatto{
    cursor: pointer;
}
.contatto:hover{
    cursor: pointer;
    background-color: rgb(252, 247, 247);

}
